<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djhu.dao.provide.ProvideMapper">

    <select id="selectProvideData" resultType="java.util.Map" parameterType="com.djhu.config.TablesConfig">
        <if test="params.pageSize != null ">
          select * from(
            select * from ${params.provideTableName}
             where 1 = 1
            <if test="params.provideKey != null and params.primaryVal != null and params.primaryVal != ''">
              and ${params.provideKey} <![CDATA[ > ]]> #{params.primaryVal}
            </if>
            <if test="params.condition != null">
               ${params.condition}
            </if>
            order by ${params.provideKey}
            )
          where rownum  <![CDATA[ <= ]]> #{params.pageSize}
        </if>
    </select>

</mapper>