<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djhu.dao.provide.ProvideMapper">

    <select id="selectProvideData" resultType="java.util.Map" parameterType="map">
        <if test="param.pageSize != null ">
          select * from(
            select * from ${param.provideTableName}
             where 1 = 1
            <if test="param.sourceKey != null and param.targetKeyVal != null">
              and ${param.provideKey} <![CDATA[ > ]]> #{param.receiveKeyVal}
            </if>
            <if test="param.condition != null">
              and ${param.condition}
            </if>
            order by ${param.provideKey}
            )
          where rownum  <![CDATA[ <= ]]> #{param.pageSize}
        </if>
    </select>

</mapper>